.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --image-background-color: #193754;

  display: grid;
  grid-template-rows: 10px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding-bottom: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row-start: 2; /* to ajust to 2 later */
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  /* text-align: center; */
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 0px 32px ;
    padding-bottom: 80px;
    grid-template-rows: 0px 1fr 20px;
  }

  .main {
    align-items: center;
  }
  
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}


/* begings here */

.secWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  /* background-color: #ac2a2a; */
}

.cite {
  padding: 17 10 7 0px;
  font-weight: 500;
  font-size: 18px;
}

.name {
  font-size: 30px;
  justify-self: center;
  align-self: center;
}


.section {
  margin-top: 2em;
  /* width: "100%"; */
  background-color: var(--image-background-color);
  height: "auto";
  border-radius: 2em;
}

.Image {
  border-radius: 500px;
  padding: 15px;
}


/* STYLING FOR PDF-FRAME COMPONENT */
.title {
  background-color: antiquewhite;
  padding: 10;
}

.title h2 {
  color: #ac2a2a;
  font-size: medium;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 10px;
  background-color: #e0e0e0;
  border-radius: 39px;
}

.icons {
 height: 25px;
 width: 25px;
}

.iconWrapper:hover {
  border-radius: 20px;
  background-color: var(--image-background-color);
 }